.jobs-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #000000;
  padding-bottom: 15px;
}
.filter-search-container {
  display: flex;
  flex-direction: column;
}
.search-button-container {
  background: transparent;
  border: 1px solid #64748b;
  max-width: 767px;
  border-radius: 7px;
}
.search-input {
  height: 30px;
  padding-left: 15px;
  background: transparent;
  color: #ffffff;
  width: 90%;
  outline: none;
  border: none;
}
.search-btn {
  background-color: #1f1f1f;
  border: none;
  height: 32px;
  width: 10%;
  border-radius: 5px;
  color: #ffffff;
}
.hr-line {
  width: 100%;
  margin-top: 20px;
}
.employment-heading {
  color: #f1f5f9;
  font-size: 16px;
}
.filter-types-options-container {
  display: flex;
  flex-direction: column;
}

.filter-option-container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100px;
}
.filter-option-label {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.filter-option-container-salary {
  width: 165px;
}
